@charset "utf-8";
@import "compass";

$lightGray: #f9f8f6;
$darkBeige: #887f69;
$beige: #e2ddd4;
$gray: #b0b0b0;
$Crimson: #9d1a2d;

@mixin fontSize($size: 24, $base: 10 ) {
  font-size: $size + px;
  font-size: ($size / $base ) * 1rem;
}

@mixin blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


html {
  font-size: 62.5%;
  background-color: $lightGray;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "MS Pゴシック", sans-serif;;
}


header {
  margin-top: 20px;
  text-align: center;

  .sp_navi {
    margin: 5px 0;
    a {
      margin: 0 5px;
    }
    .menu {
      width: 150px;
      position: absolute;
      top: 50px;
      right: 2%;
      z-index: 100;
      background-color: white;
      border: 1px solid $gray;
      display: none;
      li {
        list-style: none;
        text-align: left;
        padding: 5px 0 5px 5px;
        border-bottom: 1px solid $gray;
        margin: 0;
        a {
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 640px) {
    .pc_navi {
      display: none;
    }
  }

  @media (min-width: 641px) {
    text-align: left;
    .logo {
      width: 50%;
    }
    .sp_navi {
      display: none;
    }
    .pc_navi {
      text-align: right;
      a {
        margin-left: 15px;
        &:hover {
          @include opacity(0.5);
        }
      }
    }
  }

}
// header


#main {
.contents {
  .shopping_guide {
    color: $darkBeige;
    .guide {
      text-align: center;
      margin: 20px 0;
      @include blockCenter;
      width: 50%;
    }
    .container {
      width: 100%;
      .delivery, .payment {
        background-color: white;
        padding: 20px 20px 5px 20px;
        margin-top: 10px;
        h4 {
          margin: 0 0 20px 0;
          font-weight: bold;
          @include fontSize(20);
        }
        .otodoke {
          width: 70%;
          margin: 0 0 15px 0;
        }
        .cards {
          width: 90%;
          margin: 0 0 15px 0;
        }
        .beige {
          margin-bottom: 5px;
        }
        .black {
          margin-bottom: 15px;
          color: black;
        }
      }
    }
  } // .shopping_guide
} // .contents

.sidebar {
  .item_searth {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    label {
      display: none;
    }
    .search_field {
      margin: 0;
      background-color: $lightGray;
      border: 0;
      box-sizing: border-box;
      width: 80%;
      color:$gray;
    }
    .search_button {
      background-image: url("../images/top/search_icon.png");
      background-repeat: no-repeat;
      background-position: center;
      float: right;
      box-sizing: border-box;
      width: 20%;
      border: 0;
      margin: 0;
      background-color: $lightGray;
    }
  } // .item_searth

  .page_link, .categories {
    margin-bottom: 10px;
    button {
      background-color: $darkBeige;
      background-image: url("../images/top/down_icon.png");
      background-repeat: no-repeat;
      background-position: right 10px center;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 60px;
      border-radius: 0;
      border: 0;
      text-align: left;
      img {
        width: 30%;
        margin-left: 20px;
      }
    }
    ul {
      display: none;
      li {
        background-color: white;
        list-style: none;
        background-image: url("../images/top/next_icon_gray.png");
        background-repeat: no-repeat;
        background-position: right 10px center;
        margin-bottom: 1px;
        padding: 20px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  } // .page_link, .categories

  .about, .shop_info {
    margin-bottom: 10px;
    .heading {
      background-color: $darkBeige;
      margin: 0;
      padding: 20px 0 20px 0;
      text-align: left;
      img {
        margin-left: 20px;
      }
    }
    .content {
      background-color: white;
      padding: 20px;
      .photo {
        width: 100%;
      }
      p {
        margin-bottom: 20px;
      }
      a {
        img {
          @include blockCenter;
        }
      }
    }
  } // .about, .shop_info

} // .sidebar
}
// #main

#footer {
  text-align: center;
  .devider {
    border-bottom: 1px solid $darkBeige;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .copy {
    color: $darkBeige;
  }

  @media (min-width: 641px) {
    .devider {
      text-align: right;
    }
  }

}
// #footer

















// end
